{% extends "templates/web/base.html" %}
    
    {% block body_content %}
    <div ng-controller="homeController">
    
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <a class="navbar-brand" href="#page-top">GitHub Repo Stats</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="page-scroll">
                        <a href="/">Home</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header style="padding:0%; margin:0%;">
        <div class="container">
            <div class="row" style="padding:0%;">
                <div class="col-lg-12" style="padding:0%;">
                    <div class="intro-text">
                        <hr class="star-light">
                        <span class="skills">
                            Get Repository Statistics right here!<br><br>
                            Enter a vaild Github public repository URL
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>   

    <section style="padding:0%; padding-top:2%;"> 
        
        <div class="container" ng-hide="flags.loading">

            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">                
                    <p>Enter a public repo url: </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <input class="form-control" type="text" ng-model="url">
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <button class="btn btn-default" ng-click="getStats()">GO!</button>
                </div>
            </div><br>
            <div class="row" ng-show="flags.success" id="stats">
                <div class="row">
                    <div class="col-md-6 text-right"><p>Total Issues:</p></div>
                    <div class="col-md-6 text-left"><h5>[[ stats.total_issues ]]</h5></div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-right"><p>Total Open Issues:</p></div>
                    <div class="col-md-6 text-left"><h5>[[ stats.total_open_issues ]]</h5></div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-right"><p>Total Open issues (last 24hours):</p></div>
                    <div class="col-md-6 text-left"><h5>[[ stats.open_issues_24h ]]</h5></div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-right"><p>Total Open issues (24hours - 7 days):</p></div>
                    <div class="col-md-6 text-left"><h5>[[ stats.open_issues_24h_7days ]]</h5></div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-right"><p>Total Open issues (more than 7 days):</p></div>
                    <div class="col-md-6 text-left"><h5>[[ stats.open_issues_7days ]]</h5></div>
                </div>
            </div>
            <div class="row" ng-show="flags.error">
                <center>
                    <div class="alert alert-danger" id="errors">
                      <strong>Error!</strong> The url you entered is not valid! Please enter a valid public git-hub repo such as: <strong>https://github.com/aliasav/github-repo-stats</strong>                      
                    </div>
                </center>
            </div>
        </div>

        <div class="container" ng-show="flags.loading">
            <center>
                Please wait, our monkeys are on it!<br>
                <img ng-src="{{STATIC_URL}}img/loading.svg">
            </center>
        </div>
    
        <hr id="pagebottom">
    </section>
    
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    </div>

{% endblock body_content %}